VITE_API_DEFAULT_URL="https://sharely-develop.fly.dev"
VITE_WORKSPACE_ID=""
VITE_PUBLIC_SUPABASE_URL=''
VITE_PUBLIC_SUPABASE_ANON_KEY=''
VITE_REDIRECT_URL="https://sharelyai-fe-git-develop-sharely-ai.vercel.app"
